<!-- template driven forms>>ngForm,ngModel,ngModelGroup -->
<div class="container-fluid">
  <h1>Bootcamp Enrollment form</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <!-- above will appear only under http error. for simulation keep status(401) in server -->

  <form *ngIf="!submitted" #userForm="ngForm" novalidate (ngSubmit)="onSubmit(userForm)">
    {{userForm.value|json}}
    <hr color="red">
    {{userModel|json}}
    <div class="form-group">
      <label>Name</label>
      <input #name='ngModel' required type="text" class="form-control" [class.is-invalid]="name.invalid && name.touched"
        name="userName" [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is Required</small>
      {{name.touched}}
      <!-- name.untouched,touched,pristine,dirty,valid,invalid -->
    </div>
    <div>valid:{{name.valid}},untouched:{{name.untouched}}</div>
    <div class="form-group">
      <label>Email</label>
      <input #email type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
      {{email.className}}
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input #phone='ngModel' pattern="^\d{10}$" required [class.is-invalid]="phone.invalid && phone.touched" type="tel"
        class="form-control" name="phone" [(ngModel)]="userModel.phone">
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is requied & must be 10 digits</small> -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors.required">phone number is required</small>
        <small class="text-danger" *ngIf="phone.errors.pattern">phone number must be 10 digits</small>
      </div>
      <div>{{phone.errors|json}}</div>
    </div>

    <div class="form-group">
      <label>Select Course</label>
      <select #topic="ngModel" required class="custom-select" [class.is-invalid]="topic.invalid && topic.touched"
        name="topic" [(ngModel)]="userModel.topic">
        <option value=''>I'm Interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="topic.valid || topic.untouched">please select a topic</small>
    </div>

    <div class="form-group">
      <label>Select Course</label>
      <select #topic2="ngModel" (blur)="validateTopic(topic2.value)" (change)="validateTopic(topic2.value)"
        class="custom-select" [class.is-invalid]="topicHasError && topic2.touched" name="topic2"
        [(ngModel)]="userModel.topic2">
        <option value='default'>select</option>
        <option *ngFor="let topic of topics2">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic2.untouched">please select a topic</small>
      <div>{{topic2.errors|json}}</div>
    </div>


    <div class="col-md">
      <label>Time Preference</label>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" [(ngModel)]="userModel.timePreference" name="timePreference"
            value="morning">
          Morning (9AM - 12PM)
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" [(ngModel)]="userModel.timePreference" name="timePreference"
            value="evening">
          Evening (5pM - 8PM)
        </label>
      </div>
    </div>
    <div class="form-check col-md">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe">
        Send me promotional offers
      </label>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="userForm.form.invalid || topicHasError">Submit
      form</button>
    <div>form valid?{{userForm.form.valid}}</div>
    <!-- <div>form errors{{userForm.form |json}}</div> -->
  </form>
</div>
